<h1>Here we will create</h1>

<form action="/places/create" method="POST">
    <label for="name">Add the Place's Name:</label>
    <br>
    <input type="text" name="name" placeholder="Place's Name" id="name">
    <br>
    <br>
    <label for="type">Select Place's Type</label>
    <select name="type" id="type">
        <option value="coffee-shop">Coffe Shop</option>
        <option value="bookstore">Bookstore</option>
    </select>
    <br>
    <br>
    <button>Create New Place</button>
</form>