<form method="POST">
  <input type="text" placeholder="Name" name="name" id="name">
  <select name="type" id="type">
    <option value="Bookstore">Bookstore</option>
    <option value="Coffee-shop">Coffee-Shop</option>
  </select>
  <button>Create Place</button>
</form>