<h1>Adding a new place</h1>

<form action="" method="POST">

<label for="name">Name:</label>
<input type="text" name="name" id="name" placeholder="Write name" required>

<div>
  <label for="bookstore">Type:</label><br>
<input type="radio" id="bookstore" name="type" value="bookstore">
<label for="bookstore">Bookstore</label><br>
<input type="radio" id="coffee shop" name="type" value="coffee shop">
<label for="coffee shop">Coffee Shop</label><br>
</div>

<label for="location">Location</label>
  <input type="number" step="any" placeholder="Latitude" name="latitude" id="location">
  <input type="number" step="any" placeholder="Longitude" name="longitude" id="location">


<button>Add</button>

</form>