<form action="" method="POST">
  <div>
  <input type="text" placeholder="{{ place.name }}" name="name" id="name">
  <p> this is your current type {{ place.type }}</p>
  <select name="type" id="type">
    <option value="Bookstore">Bookstore</option>
    <option value="Coffee-shop">Coffee-Shop</option>
  </select>
</div>
<button>Save</button>
</form>