<section>
<h1>
  Welcome this is a list of the coffeebookstores
</h1>
{{#each data}}
<a href="/places/{{_id}}/singleview">{{name}}</a>
{{/each}}
<aside>
  <a href="/places/create">Register a new place</a>
</aside>
</section>