<h2>Add new place</h2>
<div class="create-container">
  <form action="/places/create" method="post">
    <input name="name" type="text" placeholder="name of place" autocomplete="off">
    <input name="type" type="text" placeholder="type pf place" autocomplete="off">
    <button>Submit</button>
  </form>
</div>