<h1> Edit the palce</h1>
<form action="" method="POST">
  <label for="type">Type</label>
  <select id="type" name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <label for="name">Name</label>
  <input type="name" name="name" id="name" placeholder="{{data.name}}" required />
  <button>Save Place</button>


</form>