<form action="/create" method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="number" placeholder="Latitude" name="latitude">
  <input type="number" placeholder="Longitude" name="longitude">

  <select name="type">
    <option value="coffee-shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>

  <button> Whatever</button>
  </form>