<form action="" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Name"/>
  <label for="type">Type</label>
  <input type="text" name="type" id="type" placeholder="Type" />
  <button>Save Place</button>
</form>
