<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="map"></div>

<form action="">
  <input type="text" name="name" placeholder="Place Name" />
  <input type="text" name="type" placeholder="Type" />
</form>