<h1>You can create your place</h1>

<form method="POST">
  
  <label for="name">Place's name</label>  
  <input type="text" name="name" placeholder="Place's Name" id="name">

  <select name="type" id="type">
    <option>coffeeshop</option>
    <option>bookstore</option>
  </select>

  <input type="number" name="latitude" min="-90" max="90" required placeholder="Latitude" />
  <input type="number" name="longitude" min="-180" max="180" required placeholder="Longitude"/>
  
  <button>Save Place</button>

</form>


   