<form action="" method="POST">

<!-- add div with map container
<div></div> 
-->

<label for="name-input">Name</label>
<input required id="name-input" type="text" name="name" placeholder=" Name">

<p>Select the type of place you want to create:</p>
<label for="type-input">Choose an option:</label>
<select name="type" id="type-input">
    <option value="Coffee Shop">Coffee Shop</option>
    <option value="Bookstore">Bookstore</option>
</select>

<!-- 
    <input required id="type-input" type="text" name="type" placeholder=" Coffee shop or Bookstore"> 
-->

<button>Create</button>
</form>