<h2>Add a new place</h2>

<form method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<br>
<select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
<br>
<button>Create place</button>
</form>
<br>
<h4><a href="/place/list">Go back to the list</a></h4>