<form method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="address" placeholder="Address" name="Address">
  

  <select name="type">
    <option value="bookstore">Book Store</option>
    <option value="coffeeshop">Coffee Shop</option>
  </select>

  <button>Create store</button>
</form>