<h2>Add a new place</h2>

<form method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<br>
<label for="latitude">Latitude</label>
<input type="number" placeholder="From -90 to 90" name="latitude" id="latitude">
<br>
<label for="longitude">Longitude</label>
<input type="number" placeholder="From -180 to 180" name="longitude" id="longitude">
<br>
<label for="type">Type</label>
<select name="type" id="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
<br>
<button>Create place</button>
</form>