<a href="/place/list">List places</a>
<a href="/place/create">Create places</a>
<h1>Here we will create places</h1>
<form action="/place/create" method="POST">
    Name: <input type="text" name="name">
    Type: <input type="text" name="type">
    <button>Create</button>
</form>