  
<form method="POST">
  <label name="name">Name</label>
  <input type="text" placeholder="Name" name="name" id="name" required> 

  <label name="type">Type</label>
  <select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  
  <label name="latitude">Latitude</label>
  <input type="number" placeholder="Latitude" name="latitude">

  <label name="latitude">Longitude</label>
  <input type="number" placeholder="Longitude" name="longitude">


  <button>Create Place</button>
</form>