<h2>List of places</h2>
<br>
<h4><a href="/place/create">Add a new Place</a></h4>
<br>
{{#each places}}
<h4>Name: <a href="/place/{{ _id}}">{{name}}</a></h4>
<p>Type: {{type}}</p>
<br>
{{/each}}

<p><a href="/">Go back to homepage</a></p>