<h2>Information about this place</h2>

<h4>Name: {{place.name}}</h4>
<p>Type: {{place.type}}</p>

<div class="buttons">
<form method="GET" action="/place/{{ place.id }}/edit">
  <button>Edit</button>
</form>
<form method="POST" action="/place/{{ place.id }}/delete">
  <button>Delete</button>
</form>
</div>
<br>
<h4><a href="/place/list">Go back to the list</a></h4>
