<h1>CREATE</h1>

<form method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="number" placeholder="Latitude" name="latitude" step="any">
  <input type="number" placeholder="Longitude" name="longitude" step="any">

  <select name="type">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>

  <button>Create Restaurant</button>
</form>