<h1>Edit {{ restaurant.name }}</h1>


<form action="" method="POST">
  <label for="name">name</label>
  <input type="text" name="name" id="name" placeholder="{{ restaurant.name }}" required/>
  
  <input type="number" placeholder="Latitude" name="latitude" step="any">
  <input type="number" placeholder="Longitude" name="longitude" step="any">

  <select name="type" required>
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>




  <button>Save restaurant</button>
</form>