<h1>List</h1>

<form action="" method="POST">
  <input id="input-latitude" type="number" step="any" name="latitude" placeholder="Latitude">
  <input id="input-longitude" type="number" step="any" name="longitude" placeholder="Longitude">
  <input id="input-distance" type="number" step="5" name="distance" placeholder="Distance">
  <button>Look for restaurants!</button>
</form> 

<div id="map" class="map"></div>

<script>
  const $sampleMap = document.getElementById('map');

  const list = [
    {{#each restaurants}}
      {
        id: "{{_id}}",
        position: {
          lat: {{ location.coordinates.[1] }},
          lng: {{ location.coordinates.[0] }}
        }
      },
    {{/each}}
  ];

  function initMap() {
    const map = new window.google.maps.Map($sampleMap, {
      center: { lat: 38, lng: -9},
      zoom : 9
    });

    map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();

      const $inputLatitude = document.getElementById('input-latitude');
      const $inputLongitude = document.getElementById('input-longitude');

      $inputLatitude.value = latitude;
      $inputLongitude.value = longitude;
    })

    for (restaurant of list) {
      const marker = new window.google.maps.Marker({
        position: restaurant.position,
        map
      });
      
      marker.addListener('click', () => {
        window.location = `/restaurant/${restaurant.id}`;
      })
    }
  }
</script>

{{>mapscripts}}


