<h1>List</h1>

<form action="" class="restaurant-search" method="POST">
  <input id="input-latitude" type="number" step="any" name="latitude" placeholder="Latitude">
  <input id="input-longitude" type="number" step="any" name="longitude" placeholder="Longitude">
  <input id="input-distance" type="number" step="5" name="distance" placeholder="Distance">
  <button>Look for restaurants!</button>
</form> 


